body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto Mono" !important;
}

/* ========== Nav ========== */
nav {
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    height: 100px;
}

nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

nav a {
    transition: 0.1s;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: auto 0;
}

nav .active, nav li:hover a {
    color: lightblue;
}

.contact {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

@media(max-width: 600px) {
    nav li {
        display: block;
        margin: 5px 0;
        text-align: center;
    }
}

/* ========== Header ========== */
header {
    margin-top: 200px;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
}

/* ========== Projects ========== */
h2 {
    text-align: center;
    margin-top: 100px;
}

.projects {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 0 10% 100px 10%;
}

.project {
    margin-bottom: 25px;
    flex: 0 1 400px;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.project h2 {
    text-align: left;
    margin: 25px 0;
}

.project .img {
    margin: auto;
    background: #c1c1c1;
    width: 90%;
    height: 200px;
}

.project p {
    width: 100%;
    border-bottom: 1px solid #000;
}

.project a {
    color: gray;
}

.p1 .img {
    background: url("./img/bungie.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p2 .img {
    background: url("./img/gomongo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ========== Footer ========== */
footer {
    margin: 0 auto;
    padding-bottom: 200px;
    border-top: 2px solid #000;
    width: 90%;
    height: 100px;
}

footer p {
    text-align: center;
}

.left, .right {
    display: inline-block;
}

.left a {
    font-weight: 800;
    font-size: 20px;
    color: gray;
}

.right {
    float: right;
}

.right p {
    text-align: right;
}
