html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}





.logo, .lang {
    position: absolute;
    z-index: 4;
    text-transform: uppercase;
    font-size: 20px;
    margin: 1.2em;
}

.logo {
    color: white;
    text-transform: none;
}

.lang {
    right: 0;
    color: gray;
}





.left {
    position: absolute;
    background: #000;
    width: 50%;
    height: 100vh;
}

.right {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.right .img {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
}





.left .bottom-text {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px;
    transition: 0.4s;
}

.right .bottom-text {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 48px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px;
    transition: 0.4s;
}

.bottom-text:hover {
    margin-bottom: 10px;
}





.carousel {
    height: 100%;
    width: 100%;
}

.track {
    position: relative;
    transition: transform 250ms ease-in;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide.active {
    display: block;
}

.carousel .s1 .img {
    background: url("./img/p1.jpg") no-repeat 50% 50%;
    background-size: 200%;
}

.carousel .s2 .img {
    background: url("./img/p2.jpg") no-repeat 50% 50%;
    background-size: 200%;
}

.carousel .s3 .img {
    background: url("./img/p3.png") no-repeat 50% 50%;
    background-size: 100%;
}

.slide .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 24px;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.4);
    width: calc(400px - 100px);
}

.slide .img {
    background: gray;
    width: 300px;
    height: 400px;
}

.slide .view-btn {
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 35%;
    left: 100%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    transition: 0.2s;
    color: #000;
    border-radius: 100%;
    width: 160px;
    height: 160px;
}

.slide .view-btn:hover {
    width: 200px;
    height: 200px;
}





.carousel .up-btn, .carousel .down-btn {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    transition: 0.2s;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.carousel .up-btn ion-icon, .carousel .down-btn ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel .up-btn:hover, .carousel .down-btn:hover {
    width: 60px;
    height: 60px;
}

.carousel .up-btn {
    top: 20%;
}

.carousel .down-btn {
    top: 80%;
}

.carousel .is-hidden {
    display: none;  
}





.carousel .nav {
    position: absolute;
    top: 50%;
    left: calc(50% - 150px - 15px);
    transform: translate(-50%, -50%);
    width: 15px;
}

.nav .dot {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 5px 0;
  transition: background-color 0.4s ease;
  background: #fff;
  border: 0px solid #000;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.nav .dot:hover, .nav .dot.active {
    background: gray;
}





.right .projects {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 150px);
}

.right .project {
    display: none;
    padding-top:40px;
    padding-left: 40px;
    color: #fff;
    overflow: scroll;
    height: 100%;
}

.right .p1 {
	display: block;
}

.project .source {
    position: absolute;
    top: 50px;
    right: 50px ;
    color: #fff;
    font-size: 30px;
    margin-right: 50px;
}

.project .vid {
    text-align: center;
    padding: 10px 50px;
}

.project iframe {
    width: 100%;
    height: 300px;
}

.projects ul {
    margin: 0;
}

.projects ul strong {
    color: #c1c1c1;
    font-size: 18px;
}

.projects ul li {
    list-style-type: none;
    color: lightgray;
    margin: 15px 0;
    padding-right: 200px;
}

.project h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.project h3 {
    color: #fff;
    padding: 0 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.project p {
    margin: 0;
    padding: 0 200px 0 20px;
    color: lightgray;
    font-size: 20px;
}





.social-media {
    position: absolute;
    bottom: 0;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 2em;
}

.social-media ul li {
    padding: 10px 0;
}

.social-media ul li a {
    color: #fff;
    font-size: 30px;
}





@media (max-width: 990px) {

    body {
        background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    }

    .left,
    .right {
        width: 100%;
        height: 100vh;
    }

    .right {
        top: 100vh;
        left: 0;
    }

    .right .img {
        background: transparent;
    }

    .right .project {
        overflow: hidden;
        padding-right: 20px;
        padding-bottom: 40px;
        height: auto;
    }

    .right .project h2 {
        text-align: left;
    }

    .right .project p,
    .right .project ul li {
        padding: 0;
    }

    .right .bottom-text {
        position: relative;
        margin: 10px 0;
    }

    .social-media {
        position: fixed;
        z-index: 5;
    }

    .bottom-text {
        text-align: center;
    }

    .slide .view-btn {
        left: 50%;
		opacity: 0.5;
    }

    .source {
        display: none;    
    }
}
